.profile-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 50px 0;

  .header .title{
    margin: 0;
    font-weight: 500;
    font-size: 21px;
    color: rgb(65 65 65 / 87%);
  }

  .form-profile{
    background: #fff;
    width: 90%;
    max-width: 400px;
    padding: 30px 20px;
    border-radius: 15px;
    margin-top: 30px;

    form{
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }

}
:host ::ng-deep .mat-mdc-form-field-subscript-wrapper{
  display: none;
}
