<mat-toolbar color="primary">

  <div class="container-nav">

    <div class="d-flex gap-5">
      <div class="left-side">
        <div class="logo"><img src="./assets/images/logo.png" alt="logo"></div>
        <span>User Manager App</span>
      </div>

      <div class="right-side d-flex align-items-center">
        <ul class="nav">
          <li class="item-nav">
            <button mat-raised-button routerLink="/dashboard/users-management">Users Management</button>
          </li>
          <li class="item-nav">
            <button mat-raised-button routerLink="/dashboard/my-profile">My Profile</button>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <button mat-button [matMenuTriggerFor]="menu"><span class="user-name">{{userObj?.name|titlecase}}</span> <i class="fa-solid fa-caret-down"></i></button>
      <mat-menu #menu="matMenu">
        <div class="small-screen">
          <button mat-menu-item routerLink="/dashboard/users-management">Users Management</button>
          <button mat-menu-item routerLink="/dashboard/my-profile">My Profile</button>
        </div>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </div>

  </div>

</mat-toolbar>
