<mat-toolbar color="primary">

  <div class="container-nav">

    <div class="left-side">
      <div class="logo"><img src="./assets/images/logo.png" alt="logo"></div>
      <span>User Manager App</span>
    </div>

    <div class="right-side">
      <ul class="nav">
        <li class="item-nav">
          <button mat-raised-button routerLink="/dashboard/users-management">Users Management</button>
        </li>
        <li class="item-nav">
          <button mat-raised-button routerLink="/dashboard/my-profile">My Profile</button>
        </li>
      </ul>
    </div>

  </div>

</mat-toolbar>
