<div class="user-popup">
  <h2 mat-dialog-title>{{isUpdate ? 'Edit User':'Add New User'}}</h2>
  <mat-dialog-content>

    <div class="form-profile">

      <form action="" [formGroup]="userForm" #form="ngForm" novalidate>

        <div class="group">

          <div class="form-group">
            <mat-form-field class="example-full-width">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name" autocomplete="off">
            </mat-form-field>

            <app-form-errors
            [color]="'danger'"
            [form]="form"
            [control]="userForm.controls['name']"
            >
            </app-form-errors>
          </div>

          <div class="form-group">
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input matInput type="email" formControlName="email" autocomplete="off">
            </mat-form-field>

            <app-form-errors
            [color]="'danger'"
            [form]="form"
            [control]="userForm.controls['email']"
            >
            </app-form-errors>
          </div>

        </div>

        <div class="group">

          <div class="form-group">
            <mat-form-field class="example-full-width">
              <mat-label>Phone Number</mat-label>
              <input matInput formControlName="phone_number" mask='(000) 000-0000' [validation]="true" [dropSpecialCharacters]="false" autocomplete="off">
            </mat-form-field>

            <app-form-errors
            [color]="'danger'"
            [form]="form"
            [control]="userForm.controls['phone_number']"
            >
            </app-form-errors>
          </div>

          <div class="form-group">

            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input matInput type="password" formControlName="password" [type]="hide ? 'password' : 'text'" autocomplete="off">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>

            <app-form-errors
            [color]="'danger'"
            [form]="form"
            [control]="userForm.controls['password']"
            >
            </app-form-errors>

          </div>

        </div>

      </form>

    </div>

  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="save()">
      <span [hidden]="loadingSubmit">{{isUpdate ? 'Update':'Save'}}</span>
      <span [hidden]="!loadingSubmit"><i class="fa fa-refresh fa-spin"></i> Loading</span>
    </button>
    <button mat-button (click)="cancel()">Cancel</button>
  </mat-dialog-actions>

</div>
