<div class="container-users">

  <!-- header -->
  <div class="header">
    <h3 class="title">All Users</h3>

    <div class="filter">
      <div class="search-bar">
        <mat-form-field>
          <input [(ngModel)]="searchKeyword" matInput placeholder="Search By Name" value="">
        </mat-form-field>
      </div>
      <!-- <div class="sorting">
        <mat-form-field>
          <mat-select  name="sort" (valueChange)="onChangeSort($event)" placeholder="Sorted By">
            <mat-option *ngFor="let sort of sortsList" [value]="sort.key">{{sort.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->
    </div>

  </div>

  <div class="list-users-container">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Avatar</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col"></th>
        </tr>
      </thead>

      <!-- in case data -->
      <tbody *ngIf="!isLoading && usersList.length>0">
        <!-- searching => search for all users existing in usersList this is not right should use api calling is not supported/available -->
        <tr *ngFor="let user of usersList|sortAlphabetical:selectedSort|searching:searchKeyword;let i = index">
          <th scope="row">{{i+1}}</th>
          <td>
            <div class="avatar">
                <img [src]="user.avatar" [alt]="user.name">
            </div>
          </td>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>
            <div class="action-buttons">
              <button mat-stroked-button style="margin-right: 8px;" [routerLink]="'/dashboard/users-management/' + user.id"><i class="fa-regular fa-eye"></i></button>
            </div>
          </td>
        </tr>
      </tbody>

      <!-- ******************************************************************** -->
      <!-- ******************* in case loading data ***************************-->

      <tbody *ngIf="isLoading">
        <tr *ngFor="let schema of schemaList;let i = index">
          <th scope="row"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></th>
          <td><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
          <td><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
          <td><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
          <td><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
        </tr>
      </tbody>

    </table>



  </div>

  <!-- pagination section -->
  <div *ngIf="!isLoading && usersList.length > 0" class="pagination-section">
    <mat-paginator
      [length]="totalItems"
      [pageIndex]="currentPage"
      [pageSize]="perPage"
      [hidePageSize]="isMobile"
      (page)="paginate($event)"
      [pageSizeOptions]=" isMobile ? [] : [6, 12, 15]"
      aria-label="Select page"
      >
    </mat-paginator>
  </div>

  <div *ngIf="!isLoading && usersList.length==0" class="no-data">
    There is no data at the moment
  </div>


</div>
