.container-users{
  margin-top: 70px;
  padding: 0 50px;

  .add-user{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
  }

  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 50px;
    .title{
      margin: 0;
      font-weight: 500;
      font-size: 21px;
      color: rgb(65 65 65 / 87%);
    }
    .filter{
      display: flex;
      gap: 15px;
    }
  }

  .pagination{
    min-height: 60px;
  }

}
