<div class="container-users">

  <!-- header -->
  <div class="header">
    <h3 class="title">All Users</h3>

    <div class="filter">
      <div class="search-bar">
        <mat-form-field>
          <input [(ngModel)]="searchKeyword" matInput placeholder="Search By Name" value="">
        </mat-form-field>
      </div>
      <!-- <div class="sorting">
        <mat-form-field>
          <mat-select  name="sort" (valueChange)="onChangeSort($event)" placeholder="Sorted By">
            <mat-option *ngFor="let sort of sortsList" [value]="sort.key">{{sort.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->
    </div>

  </div>

  <div class="list-users-container">

    <!-- in case data -->
    <div *ngIf="!isLoading && usersList.length>0" class="list-users">
      <!-- searching => search for all users existing in usersList this is not right should use api calling is not supported/available -->
      <div *ngFor="let user of usersList|sortAlphabetical:selectedSort|searching:searchKeyword;let i = index"
          class="user-card" [routerLink]="'/dashboard/users-management/' + user.id">
        <div class="avatar"><img [src]="user.avatar" [alt]="user.name"></div>
        <div class="card-info">
          <span class="name">{{user.name}}</span>
          <span class="email">{{user.email}}</span>
        </div>
      </div>
    </div>

    <!-- in case loading -->
    <div *ngIf="isLoading" class="list-users">
      <!-- searching => search for all users existing in usersList this is not right should use api calling is not supported/available -->
      <div *ngFor="let user of schemaList" class="user-card" style="background-color: #fff;">
        <div class="avatar">
          <ngx-skeleton-loader count="1" appearance="circle" [theme]="{'width':'70px','height':'70px'}"/>
        </div>
        <div class="card-info" style="flex-grow: 1;">
          <span class="name"><ngx-skeleton-loader appearance="line" [theme]="{'width':'70px'}"></ngx-skeleton-loader></span>
          <span class="email"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></span>
        </div>
      </div>
    </div>

  </div>

  <!-- pagination section -->
  <div *ngIf="!isLoading && usersList.length > 0" class="pagination-section">
    <mat-paginator
      [length]="totalItems"
      [pageIndex]="currentPage"
      [pageSize]="perPage"
      [hidePageSize]="isMobile"
      (page)="paginate($event)"
      [pageSizeOptions]=" isMobile ? [] : [6, 12, 15]"
      aria-label="Select page"
      >
    </mat-paginator>
  </div>

  <div *ngIf="!isLoading && usersList.length==0" class="no-data">
    There is no data at the moment
  </div>


</div>
