.sign-in-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 50px 0;

  .form-sign-in{
    background: #fff;
    width: 90%;
    max-width: 400px;
    padding: 30px 20px;
    border-radius: 15px;
    margin-top: 30px;
    .head-form .title{
      text-align: center;
      color: #5e35b1;
      font-weight: 600;
      font-size: 24px;
    }

    form{
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    .footer-form{
      text-align: right;
      margin-top: 20px;
      span{
        margin-right: 5px;
      }
    }

  }

}
:host ::ng-deep .mat-mdc-form-field-subscript-wrapper{
  display: none;
}
.txt,
.txt-1{
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.txt:dir(rtl){
  left: unset;
  right: 20px;
}
// .sign-in-form[dir = "rtl"] .txt-1{
//   left: unset;
//   right: 20px;
//   bottom: 60px;
// }
